body {
    background: #f1f1f1;
  }
  h1 {
    font-size: 30px;
    font-color:
    margin-bottom:10 px;
    text-align:left;
    
    background-color: azure;
    <!-- border-style: solid; -->
    
  }